<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> name </th>
        <th> password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.isEmpty()}">
        <td colspan="5"> No Users Available </td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.id}"> id </td>
        <td th:utext="${user.username}"> series </td>
        <td><a th:href="@{admin/{id}/edit(id=${user.id})}">Edit</a> </td>
        <td><a th:href="@{admin/{id}/delete(id=${user.id})}">Delete</a> </td>
    </tr>
    </tbody>
</table>
<p><a href="@{admin/new}">add User</a></p>
<div th:replace="logout :: logout"></div>
</body>
</html>