<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getFirstName()}">FirstName</td>
        <td th:utext="${user.getLastName()}">LastName</td>
        <td><a th:href="@{/edituser/{id}(id=${user.id})}">Edit</a> </td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a> </td>
    </tr>
</table>
<p><a href=/adduser>Create User</a></p>

</body>
</html>