<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<table border="1">
  <thead>
  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> PassWord </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><span th:text="${user.id}"> id </span></td>
    <td><span th:text="${user.username}"> name</span></td>
    <td><span th:text="${user.password}"> password </span></td>
  </tr>
  </tbody>

</table>
<p><a href="/logout"><button th:text="Logout"></button></a> </p>
</body>
</html>